bin
cmake-build-debug
.idea
.cache
__pycache__
gramtools/version/commit_version.py
*.egg-info
*.pyc
gramtools/lib
libgramtools/submods/tests/test_main
libgramtools/submods/print_fm_index/print_fm_index
doc/html
*~
*.swp
*.ar
