# docs/libs, builds, binaries
bin
*.bin
cmake[-_]build[-_]*
build/
gramtools/lib
doc/html

.cache

# python
__pycache__
gramtools/version/commit_version.py
*.egg-info
*.pyc

# IDEs
*~
*.swp
*.ar
.idea

# distribution
dist/

# scratch, environments
tmp_work
venv
