# docs/libs, builds, binaries
bin
*.bin
cmake[-_]build[-_]*
build
gramtools/lib
doc/html

.cache

# python
__pycache__
gramtools/version/commit_version.py
*.egg-info
*.pyc

# tests
.coverage

# IDEs
*~
*.swp
*.ar
.idea
tags
compile_commands.json

# distribution
dist/

# scratch, environments
tmp_work
venv
